html {
  font-family: 'Arial', 'Verdana', 'Comic Sans MS', 'Tahoma', sans-serif;
}

label {
  color: rgba(0, 0, 0, 0.5);
  display: block;
  font-size: 16px; /* Substituindo size por font-size */
  transition: 0.5s;
}

label:hover {
  color: rgba(0, 0, 0, 1);
}

input {
  display: block;
  border-color: rgba(0, 0, 0, 0.5);
  background: white;
  border-radius: 100px;
  padding: 5%;
  transition: 0.5s;
}

input:hover {
  border-color: rgba(0, 0, 0, 1);
}

p {
  font-size: 1em;
  font-color: black;
}

span:hover {
  font-size: 2em;
}
